body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
}

.cards-container {
  font-family: 'Open Sans', sans-serif;
  color: rgb(44, 44, 44);
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8em;
  max-width: 1500px;
  background-color: white;
  padding: 6em;
}

.card {
  width: 21em;
  height: 18em;
  margin-right: 2em;
  margin-bottom: 2em;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgb(197, 197, 197);
}

.thumb {
  width: 21em;
  height: 11em;
}

.trainer{
  width: 2em;
  height: 2em;
  margin-top: .7em;
  margin-left: .5em;
}

.card:hover {
  box-shadow: 8px 8px 15px rgb(197, 197, 197);
}

.card-bottom {
  display: flex;
  flex-direction: row;
}

.title{
  margin-left: 1em;
  margin-top: .5em;
  width: 14em;
}